.modules-left,
.modules-center,
.modules-right {
    background-color: #000;
    border-radius: 8px;
}

#clock {
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    color: #ffffff;
    padding: 0 10px;

}

#clock:hover {
    background-color: #313244;


}

#battery {
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    color: #ffffff;
    padding: 0 10px;
}

#battery:hover {
    background-color: #313244;
}

#network {
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    color: #ffffff;
    padding: 0 10px;
}

#network:hover {
    background-color: #313244;
}

#pulseaudio {
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    color: #ffffff;
    padding: 0 10px;
}

#pulseaudio:hover {
    background-color: #313244;
}

#custom-OS {
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    color: #19C709;
    background-color: #000;
    padding: 0 10px;

}

#custom-OS:hover {
    background-color: #313244;
}

window#waybar {
    background-color: transparent;
}
